#home {
    background-image: url("../images/bg.jpg") ;
    height: 100vh;
    min-height: 500px;
    width: 100%;
    color: #fff;
    background-size: cover;
    background-attachment: fixed;
    background-color: #111;
    font-family: "Ubuntu", sans-serif;
    padding: 100px 222px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-1{
    font-family: "Ubuntu", sans-serif;
    font-size: 27px;
    text-align: left;
}
.text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    text-align: left;
    font-family: "Ubuntu", sans-serif;
  }
.text-3{
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    background-color:#92BCB5;
    font-size: 25px;
    margin:20px 0px 0px;
padding:12px 36px;
font-weight: 400;
border-radius: 6px;
border: 2px solid #92bcb5;
transition: all 0.3s ease;
width: 170px;
} 
.text-3:hover {
    color: #92bcb5;
    background: none;
  }

  @media screen and (max-width: 947px) {
    #home {
        padding: 100px 50px;
    }
    .text-2 {
        font-size: 70px;
      }
       .text-3
      {
        font-size: 23px;
        padding: 10px 30px;
        width: 150px;
      }
  }

  @media screen and (max-width: 690px) {
    #home {
        padding: 100px 45px;
    }
    .text-2 {
        font-size: 60px;
      }
       .text-3
      {
        font-size: 20px;
        width: 140px;
      }
  }

  @media screen and (max-width: 500px) {
    #home {
        padding: 100px 37px;
        /* color: green; */
    }
   .text-2 {
      font-size: 53px;
    }
    .text-3 {
      width: 138px;
    }
}

  @media screen and (max-width: 1200px) {
    #home {
        padding: 100px 100px;
    }
  }

  @media screen and (max-width: 380px) {
    #home {
        padding: 250px 40px;

    }
    
.text-1{
    font-family: "Ubuntu", sans-serif;
    font-size: 19px;
    text-align: left;
}
.text-2 {
    font-size: 46px;
    margin-left: -3px;
  }
.text-3{
    text-align: left;
    text-align: center;
    font-size: 18px;
border-radius: 6px;
border: 2px solid #92bcb5;
width: 140px;
margin:18px 0px 0px;
padding:10px 28px;
} 
  }