
#nav-menu{
 padding: 30px 50px ;
 z-index: 77;
 transition: all 0.3s ease;
 width: 100%;
 font-family: "Ubuntu", sans-serif;
 position: fixed;
 display: flex;
 justify-content: space-around;
}
#nav-menu > .mystyle > a:hover {
    color: white;
}

#navName {
    cursor: pointer;
    float: left;
    color: #92BCB5 ;
    font-size: 35px;
    font-weight: 600;
    font-family: "Ubuntu", sans-serif;
    margin-left: -50px;
}
#navComp{
    display: flex;
    color: white;
    text-align: center;
    float: right;
    justify-content: space-around;
    margin-right: -50px;
}
#navComp>a{
    margin: 12px;
    font-size:
    18px;
    font-weight:
500;
}
#navComp>a:hover{
    color:#92BCB5 ;
}
#mobile{
    display: none;
    text-align: center;
    align-items: center;
    margin-top: 9px;
    font-family: "Ubuntu", sans-serif;
}

#myNav{
     font-family: "Ubuntu", sans-serif;
}
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: auto;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #92BCB5;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
  
  @media screen and (max-width: 947px) {
    #navComp{
        display: none;
    }
    #navName{
        margin-left: auto
    }
#nav-menu{
    justify-content: space-between;
   }
    #mobile{
        display: block;
    }
  }

  @media screen and (max-width: 300px) {
    #navName{
        font-size: 28px;
        margin-left: -30px;
        margin-top: 5px;
    }
  }
  