.titles {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
  }
  .max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
  }

  .titles::before {
    content: "";
    position: absolute;
    bottom: 8px;
    left: 50%;
    width: 234px;
    height: 3px;
    background: white;
    transform: translateX(-50%);
  }
  
  .titles::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #92bcb5;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
  }
  section {
    padding: 100px 0;
  }
  .services{
    font-family: "Poppins", sans-serif;
  }
  .services,
  .project {
    color: #fff;
    background: #111;
  }
  .services .titles::before,
  .project .titles::before {
    
    background: #fff;
  }
  .services .titles::after,
  .project .titles::after {
    background: #111;
    /* content: "What I Provide"; */
  }
  .serv-content{
    display: flex;
    margin: auto;
    justify-content: space-around;

  }
  .services .serv-content .card {
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .services .serv-content .card:hover {
    background: #92bcb5;
    color: #555;
    /* change*/
  }
  .services .serv-content .card .box {
    transition: all 0.3s ease;
  }
  .services .serv-content .card:hover .box {
    transform: scale(1.05);
  }
  .services .serv-content .card .i {
    font-size: 50px;
    color: #92bcb5;
    text-align: center;
    margin: auto;
    transition: color 0.3s ease;
  }
  .services .serv-content .card:hover .i {
    color: #000;
  }
  .services .serv-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
  }

  @media (max-width: 947px) {
    .services .serv-content .card {
        /* width: calc(50% - 10px); */
        width: 92%;
        /* padding: 50px 25px; */
        margin-bottom: 20px;
      }
      .serv-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    
      }
  }

  @media (max-width: 690px) {
    .services .serv-content .card {
      width: 100%;
    }
    .serv-content{
        display: grid;
        margin: auto;
        justify-content: space-between;
        grid-template-columns: repeat(1, 1fr);
    
      }
  }